@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');

body{
    font-family: 'Salsa';
    max-width: 100%;
}

.navREd {
  display: flex;
  text-align: center;
  width: 100%;
  height: 200px;
  object-fit: cover;
  background-color: #baabda;
}
.imgAmigos {
  width: 40%;
}
.titulo {
  font-size: 40px;
  width: 60%;
  background-color: #baabda;
  color: black;
  margin-top: 100px;
  font-family: 'Salsa';
}
.red {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  font-family: "Inter", sans-serif;
  padding: 12px 15em 0 5em;
  gap: 25px;
  .parrafo {
    font-family: 'Salsa';
    text-align: center;
    margin-top: 20px;
    margin-left: 100px;
    width: 100%;
  }
}

.containerAmigos {
  display: flex;
  flex-direction: column;
}
.formulario {
  width: 250px;
  font-family: 'Salsa'; 
  margin-left: 100px;
  margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    border: #baabda 1px solid;
    label {
      display: block;
      font-size: 1.4rem;
      font-weight: 500;
  }

  .boton{
    background-color:#041C32;
    margin-bottom: 5px;
    color: #eee;
    border-radius: 5px;
    width: 55px;
    height: 35px;
  }
   textarea,
  .group {
    font-family: 'Salsa';
      display: block;
      font-size: 1.6rem;
      font-weight: 300;
      padding: 1rem;
      margin: 1rem auto;
      border: 1px solid #777;
      border-radius: 3px;
      outline: none;
  }

  }
  @media screen and (max-width: 700px) {
    .imgAmigos {
       display: none;
       padding: 0;
      }
      .parrafo {
        padding: 5px;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 10px;
        margin-right: 125px;
        width: 100%;
      }
}
@media screen and (max-width: 768px) {
  .navREd {
  flex-direction: column;
  height: auto;
  }
  
  .imgAmigos {
  width: 100%;
  }
  
  .titulo {
  font-size: 30px;
  width: 100%;
  margin-top: 50px;
  }
  
  .red {
  padding: 12px 5% 0 5%;
  }
  
  .formulario {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  }
  }